<div class="pagination" style="padding: 2rem 0">
    <span class="step-links">

        {% if page_obj.has_previous %}
            <a href="?page=1" class="page-link" style="display: inline-block">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link" style="display: inline-block">previous</a>
        {% endif %}

        {% for number_page in page_obj.paginator.page_range %}
            <a href="?page={{ number_page }}" class="page-link" style="display: inline-block">{{ number_page }} </a>
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="page-link" style="display: inline-block">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" style="display: inline-block">last &raquo;</a>
        {% endif %}

    </span>
</div>