{% extends 'student/base.html' %}
{% load static %}

{% block content %}

    <form>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">First name</span>
        </div>
        <input name="fname" type="text" class="form-control" placeholder="First name" aria-label="firstname" aria-describedby="basic-addon1">

        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">Last name</span>
        </div>
        <input name="lname" type="text" class="form-control" placeholder="Last name" aria-label="lastname" aria-describedby="basic-addon1">

        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Email</span>
        </div>
        <input name="mail" type="text" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1">

        <button type="submit" class="btn btn-success">Search</button>
    </div>
    </form>

<!--    {{ students_list|safe }}-->
    {% include 'student/includes/students_table.html' %}

{% endblock %}
