{% extends 'student/base.html' %}
{% load static %}

{% block content %}
    <form name="form">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname"><br>
        <label for="mail">Mail:</label><br>
      <input type="text" id="mail" name="mail">
      <button type="submit">Search</button>
    </form>

<!--    {{ students_list|safe }}-->

{% for student in students_list %}
    {{student.id}}
    <a href="{% url 'edit_student' student.id %}">{{student.first_name}} {{student.last_name}}</a>
    {{student.email}}
    <a href="{% url 'delete_student' student.id %}">delete</a>
    <br>
{% empty %}
    <p>Sorry, list is empty</p>
{% endfor %}

{% endblock %}
